@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 230 40% 3%;
    --foreground: 230 10% 95%;
    --card: 230 40% 4%;
    --card-foreground: 230 10% 95%;
    --popover: 230 40% 3%;
    --popover-foreground: 230 10% 95%;
    --primary: 230 60% 25%;
    --primary-foreground: 230 10% 95%;
    --secondary: 230 40% 5%;
    --secondary-foreground: 230 10% 95%;
    --muted: 230 40% 5%;
    --muted-foreground: 230 20% 70%;
    --accent: 230 60% 25%;
    --accent-foreground: 230 10% 95%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 230 10% 95%;
    --border: 230 40% 50%;
    --input: 230 40% 10%;
    --ring: 230 60% 25%;
    --radius: 0.5rem;
  }
}